#game-screen {
    background-image: url("../../assets/background_app_lighter.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-group {
    bottom: 2%;
    z-index: 999;
    width: 95%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}