#login-button {
    background-image: url("../../../assets/buttons/button_medium_login_static.svg");
    padding-bottom: calc(100% / (34 / 15));
}

#login-button:hover {
    background-image: url("../../../assets/buttons/button_medium_login_hover.svg");
}

#login-button:active {
    background-image: url("../../../assets/buttons/button_medium_login_pressed.svg");
}